@model IEnumerable<TrueWebPhone.Models.Customer>

@{
    ViewData["Title"] = "CustomerList";
}

<h1>CustomerList</h1>

<form asp-controller="Home" asp-action="Search" method="get">   
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchString" id="searchString" placeholder="Enter customer information">
    </div>
</form>

<table class="table" id="customerTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>                  
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#searchString").on("input", function () {
                var searchString = $(this).val().toLowerCase();
                $("#customerTable tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchString) > -1);
                });
            });
        });
    </script>
}
